{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{%block title%} Your cart {% endblock %}
	
{% block content %}
<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- End All Title Box -->
<!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Фото</th>
                                    <th>Имя товара</th>
                                    <th>Цена за еденицу</th>
                                    <th>Количество</th>
                                    <th>Итоговоя цена</th>
                                    <th>Убрать</th>
                                </tr>
                            </thead>
                            <tbody>
							{% for item in cart %}
								{% with product=item.product %}
									<tr>
										<td class="thumbnail-img">
											<a href="{{product.get_absolute_url}}">
												<img class="img-fluid" src="{{product.main_image.url}}" alt="" />
											</a>
										</td>
										<td class="name-pr">
											<a href="{{product.get_absolute_url}}">
												{{product.name}}
											</a>
										</td>
										<td class="price-pr">
											<p>$ {{item.price}}</p>
										</td>
										<td >
											<form action="{% url 'cart:cart_add' product.id %}" method="post">
                                                {{item.update_quantity_form.quantity }}
												{{item.update_qantity_form.override  }}
												<button class="btn btn-theme" type="submit"><i class="fas fa-plus"></i></button> 
												{% csrf_token %}											
											</form>
										</td>
										<td class="total-pr">
											<p>$ {{item.total_price}}</p>
										</td>
										<td class="remove-pr">
											<form action="{% url 'cart:cart_remove' product.id %}" method="post">
												<button class="btn btn-theme" type="submit"><i class="fas fa-times" ></i></button>  
												{% csrf_token %}											
											</form>
										</td>
									</tr>
								{% endwith %}
							{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			<div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                    <form action="{% url 'coupons:apply'%}" method="post">
                        <div class="input-group input-group-sm">
                            {% render_field coupon_apply_form.code class='form-control' type="text" placeholder="Введите ваш купон" %}
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="submit">ПОДТВЕРДИТЬ</button>
                            </div>
                            {% csrf_token %}  
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <a href="{% url 'shop:product_list'%}"><input value="В магазин" type="submit"></a>
                    </div>
                </div>
            </div>
			<div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        {% if cart.coupon %}
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> $ {{cart.get_total_price}} </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Coupon Name</h4>
                                <div class="ml-auto font-weight-bold">"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% скидка) </div>
                                
                            </div>
                            <div class="d-flex">
                                <h4>Coupon Discount</h4>
                                <div class="ml-auto font-weight-bold"> - ${{ cart.get_discount}}</div>
                            </div>
                        {% endif %}
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> ${{ cart.get_total_price_after_discount|floatformat:2 }} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{% url 'orders:order_create' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>
		</div>
	</div>
{% endblock %}