{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% endblock title %}


{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Магазин</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-18 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form method='get'>
                                {% render_field myFilter.form.name class="form-control" placeholder="Пошук тут..." type="text" %}    
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form> 
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Бонги</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a href="{% url 'shop:product_list' %}" 
                                    {% if not category %}
                                    class="list-group-item list-group-item-action active"
                                    {% else %}
                                    class="list-group-item list-group-item-action"  
                                    {% endif %} > Всё </a>                                   
                                </div>
                                <form method='get' > 
                                {% for c in categories %}
                                <a  {%if category.slug == c.slug%} 
                                    class="list-group-item list-group-item-action active" 
                                    {% else %}
                                    class="list-group-item list-group-item-action" {% endif %} href="{{c.get_absolute_url}}" > {{c.name}}  <small class="text-muted">(150) </small></a>
                                {% endfor %}
                                </form>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h3>Цена</h3>
                            </div>
                            <form method='get' > 
                                <div class="price-box-slider">             
                                    <div id="slider-range"> </div> 
                                    {% csrf_token %}
                                        <p>
                                            <span>От: </span>{% render_field myFilter.form.min_price type="text" id='min_price' class='rangeprice' placeholder="50"%}
                                            <span></span>
                                            <span>До: </span>{% render_field myFilter.form.max_price type="text" id='max_price' class='rangeprice' placeholder="5000"%} 
                                            
                                            <button class="btn hvr-hover" type="submit">Фильтр</button> 
                                        </p>                                 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-sm-10 col-xs-12 shop-content-center">
                    <div class="right-product-box">
                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                      {% for product in products %} 
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        {%if product.label.sale%}
                                                            <p class="sale">Sale</p>
                                                        {% elif product.label.new%}
                                                            <p class="new">New</p>
                                                        {% else %}
                                                        {% endif %}
                                                    </div>
                                                    <img src="{{product.main_image.url}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon"> 
                                                        <a class="cart" href="{{product.get_absolute_url}}">Посмотреть</a>
                                                    </div>
                                                </div>
                                                <div class="why-text full-width">
                                                    <h4>{{product.name}}</h4>
                                                    {%if product.old_price %}
                                                    <h5> <del>$ {{product.old_price}}</del> {{product.price}}</h5>
                                                    {%else%}
                                                    <h5>{{product.price}}</h5>
                                                    {%endif%} 
                                                </div>
                                            </div>
                                        </div>
                                      {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            


{% endblock content %}
